!!! 5

html(lang='en')
  head
    meta(charset='UTF-8')
    title div-canvas

    link(rel='stylesheet', media='screen, projection', href='./stylesheets/canvas.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
  body(ontouchstart='')

    script(src='./js/shared.js')
    script(src='./js/canvas-main.js')
