!!! 5

html(lang='en')
  head
    meta(charset='UTF-8')
    title div

    link(rel='stylesheet', media='screen, projection' href='.stylesheets/screen.css')
  body(ontouchstart='')

    script(src='./js/main.js')
